<launch>
  <!-- Load minireach model -->
  <param name="robot_description"
         command="$(find xacro)/xacro.py '$(find minireach_description)/robots/minireach_full.xacro'"/>

  <!-- Load controller config -->
  <rosparam command="load" file="$(find tricycle_controller)/test/minireach_controllers.yaml" />

  <!-- Spawn controller -->
  <node name="controller_spawner"
        pkg="controller_manager" type="spawner" output="screen"
        args="minireach_controller
        joint_state_controller --shutdown-timeout 5" />

</launch>
