<launch>

  <!-- Load four_wheel_steering model -->
  <param name="robot_description"
         command="$(find xacro)/xacro --inorder '$(find tricycle_controller)/test/urdf/tricycle.urdf.xacro'" />

  <!-- Load controller config -->
  <rosparam command="load" file="$(find tricycle_controller)/test/config/tricycle_controllers.yaml" />

  <!-- Spawn controller -->
  <node name="controller_spawner"
        pkg="controller_manager" type="spawner" output="screen"
        args="tricycle_controller joint_state_controller --shutdown-timeout 5" />

  <!-- Publish joint states on tf -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

  <!-- Console -->
  <node name="rqt_console" pkg="rqt_console" type="rqt_console"/>

  <!-- Joy teleop -->
  <arg name="type" default="$(env DYNO_JOY_TYPE)"/>
  <node name="joy_node" pkg="joy" type="joy_node"/>
  <node name="joy_teleop" pkg="dyno_teleop" type="joy_teleop">
      <param name="type" value="$(arg type)"/>
      <remap from="cmd_vel" to="tricycle_controller/cmd_vel" />
  </node>


  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!-- <env name="GAZEBO_MODEL_PATH" value="$(find dyno_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)"/> -->

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>


  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model dyno -param robot_description -x 0.0 -y 0.35 -Y 0.0"/>

  <!-- Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tricycle_controller)/test/rviz/gazebo.rviz"/>

</launch>
