<launch>
  <!-- Load controller config -->
  <rosparam command="load" file="$(find tricycle_controller)/test/config/tricycle_controllers.yaml" />
  <rosparam command="load" file="$(find tricycle_controller)/test/config/tricycle_limits.yaml" />

  <!-- Spawn controller -->
  <node name="controller_spawner"
        pkg="controller_manager" type="spawner" output="screen"
        args="joint_state_controller tricycle_controller --shutdown-timeout 3"/>
        
</launch>
